

.btn{
	 -fx-border-width: 20;
	 -fx-border-radius: 100%;
}

.txt{
	 -fx-prompt-text-fill:  #F49D37;
	-fx-text-fill: white;
	
}

.root{
	-fx-background-color: TRANSPARENT;
}

.loginYellow{
	-fx-background-radius : 30;
	-fx-border-radius : 30;
}

.imageView{
	-fx-border-radius: 10 10 10 10;
	-fx-background-radius: 10 10 10 10;
}


.warning{
	-fx-background-color: #F49D37;
	-fx-background-radius:  10;
	-fx-border-radius: 10;	
}

.wariningText{
	-fx-text-fill: #140F2D;
}

.done{
	-fx-background-color: #83ffd0;
	-fx-background-radius:  10;
	-fx-border-radius: 10;	
}

.doneText{
	-fx-text-fill: #140F2D;
}

.fail{
	-fx-background-color: #83ffd0;
	-fx-background-radius:  10;
	-fx-border-radius: 10;		
}

.failText{
	-fx-text-fill: red;
}

.default{
	-fx-background-color: #140F2D;
	-fx-background-radius:  10;
	-fx-border-radius: none
}

.defaultText{
	-fx-text-fill: #fff;	
}